html,body {
	font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
}
body {
	width:90%;
}
header {
	width:100%;
	position:relative;
	margin:2vw auto;
	text-align:center;
}

header h1 {
	font-size:32px;
	font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
	width:100%;
}

.container {
	font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
	margin-top:3vw;
}

.content {
	width:100%;
	display:block;
	position:relative;
	margin:50px auto;
}

.developer {

	width:29%;
	position:relative;
	text-align:center;
	padding:10px;
	background-color:#fff;
	display:inline-block;
	margin:0 1.3vw;
	-moz-box-shadow: 1px 2px 4px rgba(0, 0, 0,0.5);
    -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    border-radius:2%;
    margin-top:2vw;
}

.developer:after {

	content: '';
    position: absolute;
    z-index: -1; 
    -webkit-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);                
    width: 70%; 
    left: 15%; 
    height: 100px;
    bottom: 0;

}

.profileImage img {

	width:80%;
	border-radius:50%;
	padding-bottom:1vw;
}

.developer:hover .seeResult{
	display:flex;
	background:black;
	cursor:pointer;
	align-items:center;
}

.seeResult {

	display:none;
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	opacity:0.6;
	border-radius:2%;
}

.seeResult img {

	width:15%;
	margin:0 auto;
}
.leftContent {
	width: 30%;
	background-color:#fff;
	height:300px;
	float:left;
	text-align:center;
}

.leftContent img {
	height:100%;
	width:100%;
	border-radius:2%;
}

.rightContent {
	width:70%;
	float:left;
	padding-left:60px;
	height:100%;
}

.location {
	margin-top:20px;
}

.location p {
	padding-top:6px;
}

.location::before{

	content: url('../img/icons/location.png');
	float:left;
}

.achievements ul {

	list-style:none;
	padding:0px;
}

.achievements ul li {
	margin: 20px 0;
}

.achievements ul li:nth-child(1):before {

	content: url('../img/icons/bronze.png');
	float:left;
}
.achievements ul li:nth-child(2):before {

	content: url('../img/icons/silver.png');
	float:left;
}
.achievements ul li:nth-child(3):before {

	content: url('../img/icons/gold.png');
	float:left;
}

.label {
	display:flex;
	margin:100px auto;
	-moz-box-shadow: 1px 2px 4px rgba(0, 0, 0,0.5);
    -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    border-radius:2%;
    height:100%;
    width:50%;
}

.filters {
    width: 350px;
    border-radius: 3px;
    overflow: hidden;
    margin:0 auto;
}

.filters select {
    padding: 5px 8px;
    border: none;
    box-shadow: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
}

.filters select:focus {
    outline: none;
}

.filters input {
	 width: 60%;
      height: 25px;
      margin: 0 auto;
      margin-top:10px;
      border: none;
      border:solid 1px #ccc;
      border-radius: 10px;
}

.subtitle {

	font-size: 16px;
	margin:0;
}